{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid my-5">
    <div class="row">
    <div class="col-5">
      <img src="{% static 'book.jpg' %}"  class="img-fluid object-fit-cover" alt="" />
    </div>
    
    <div class="col-7">
      <h2>Model : {{book.title}}</h2>
      <p>
        {{book.description}}
      </p>
      <h2>Price : ${{book.price}}</h2>
      <h2>Category : {{book.category.name}}</h2>
      {% if user.is_authenticated %}
      <form action="{% url 'borrowBook' book.id %}" method="POST" style="display: inline;">
          {% csrf_token %}
          <button type="submit" class="btn btn-info">Borrow</button>
      </form>
      {% endif %}
    </div>

    <div class="d-flex mt-5">
        <div class=" flex-grow-1">
            <h4>Other Reviews</h4>
            <div class="me-5">
                {% for review in reviews %}
                <div class="border rounded shadow px-5 py-3 my-2">
                    <h6>Review By : {{review.name}}</h6>
                    <p>{{review.review}}</p>
                    <small>Posted on : {{review.createdAt}}</small>
                </div>
              {% endfor %}
            </div>
        </div>
        {% if canReview and user.is_authenticated %}
        <div class="flex-1">
            <h4>Leave a review</h4>
            <form action="{% url 'createReview' book.id %}" method="POST">
                {% csrf_token %}
                {{form | crispy}}
                <button class="btn btn-secondary" type="submit">Submit</button>
            </form>
        </div>
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}