{% extends 'base.html' %} 
{% load crispy_forms_tags %} 
{% block content %} 
{% if user.is_authenticated %}
<div class="container-fluid my-5 d-flex">
  <div class="flex-grow-1 me-5">
       
    <div class="shadow rounded border px-4 py-4 mb-3">
      <h5 class="text-success fw-bold">Available Balance : ${{balance}}</h5>
    </div>
    <h4 class="mb-4">Borrow History</h4>
    <div class="">
      {% for borrow in borrows %}
        <div class="my-2 shadow-sm border px-4 py-2 rounded">
          <h4>{{borrow.book.title}}</h4>
          <h6>Price : {{borrow.book.price}} USD</h6>
          <p class="text-sm">Placed on : {{borrow.createdAt}}</p>

          {% if borrow.is_returned %}
            <p class=" d-inline-block fw-bold text-success">Returned</p>
          {% else %}
            <a href="{% url 'bookReturn' borrow.id %}" class="btn btn-warning d-inline-block">Return</a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="">
    <form action="" method="POST" class="shadow rounded border mx-auto p-5">
    <h4 class="mb-4">Update Information</h4>
    {% csrf_token %} {{form | crispy}}
    <button class="btn btn-outline-info" type="submit">Submit</button>
  </form>
  </div>
</div>
{% else %}
<div class="container-fluid">
  <h2 class="text-center text-danger">Logged Out Successfully</h2>
</div>
{% endif %} {% endblock %}